<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <main class="col-lg-8 mx-auto p-3 py-md-5">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
    <!-- <footer>
      &copy; to me
    </footer> -->
  </body>
</html>
